body {
	display: flex;
	background-color: rgba(0,0,225,0.2);
	justify-content: center;
	margin-top: 75px;
}

.form-container {
	display: flex;
	flex-direction: row;
	width: 50%;
	border: solid 10px;
	border-radius: 12px; 



}

.form {
	padding: 5px;
	width: 50%;
	background-color: white;
}

.form-img{
		background-image: url(bg-1.jpg);
		width:50%;
}

.item-1 {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	
	
}

.name {
	display: flex;
	flex-direction: column;
}

lable {
	padding-bottom: 8px;
	font-family: Arial, Calibri;
}

input {
	padding: 12px;
}

.item-2 {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	justify-content: center;

}

.form-img h3 {
	color: violet;
}

input [type="checkbox"] {
	width:12px;
	height:12px;
}

.cb lable {
	color: gray;
	font-style: italic;
}

.item-2 button {
	width: 50%;
	padding: 20px;
	background-color: rgba(0,0,235,0.3);
	color: white;
	border: 0px;
	font-family: arial;
	font-weight: bold;
}
